
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  display:flex; flex-direction:column; align-items: center;
  font-family: 'Barlow Condensed';
}

  .BlogpageMain ul,
  .BlogpageMain ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
  .BlogpageMain h1, 
  .BlogpageMain h2, 
  .BlogpageMain h3,
  .BlogpageMain h4,
  .BlogpageMain h5,
  .BlogpageMain h6 
  {
    font-size: revert;
    font-weight: revert;
  }

  .BlogpageMain h1,
  .BlogpageMain h3,
  .BlogpageMain h2,
  .BlogpageMain h4,
  .BlogpageMain h5,
  .BlogpageMain h6 {
    font-size: revert;
    font-weight: revert;
  }

.BlogpageMain img,
.BlogpageMain svg,
.BlogpageMain video,
.BlogpageMain canvas,
.BlogpageMain audio,
.BlogpageMain iframe,
.BlogpageMain embed,
.BlogpageMain object {
  display: revert;
  vertical-align: revert;
}

.BlogpageMain blockquote,
.BlogpageMain dl,
.BlogpageMain dd,
.BlogpageMain h1,
.BlogpageMain h2,
.BlogpageMain h3,
.BlogpageMain h4,
.BlogpageMain h5,
.BlogpageMain h6,
.BlogpageMain hr,
.BlogpageMain figure,
.BlogpageMain p,
.BlogpageMain pre {
  margin: revert;
  overflow: auto;
}

.BlogpageMain *,
.BlogpageMain ::before,
.BlogpageMain ::after {
  border-width: revert;
  border-style: revert;
  border-color: revert;
} 
